<div class="container">
	<h1 class="home-title__dark text-center mt-5 mb-5">Explorez la côte d'Albâtre</h1>

	<div id="map"
     style="width: 100%; height: 450px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="map-grid">
	  <div class="row mt-5 mb-2">
	  	<div class="col-sm col-sm-offset-4">
	  		<%= image_tag "pont.jpg", class: 'd-block w-100' %>
	  	</div>
	  	<div class="col-sm text-center col-sm-offset-4" id="maps-text">
	  		<p>De la route du lin aux falaises d'Etretat, la Maison Esperluette est au cœur d'une région riche en merveilles. Spots sportif, promenades sur les plages normandes, et nombreux restaurants parsèment la côte d'Albâtre. Nathalie, votre hôte, l'a explorée de fond en comble et se fera un plaisir de vous renseigner.</p>
	  	</div>
	  </div>
	  <div class="row mb-5">
	  	<div class="col-sm col-sm-offset-4">
	  		<%= image_tag "falaises.jpg", class: 'd-block w-100' %>
	  	</div>
	  	<div class="col-sm  col-sm-offset-4">
	  		<%= image_tag "roses.jpg", class: 'd-block w-100' %>
	  	</div>
	  	<div class="col-sm col-sm-offset-4">
	  		<%= image_tag "phare1.jpg", class: 'd-block w-100' %>
	  	</div>
	  </div>
	  <p class='mt-2 mb-5'>Ces superbes photos sont de <a href="https://www.instagram.com/isabelle.ah/">@isabelle.ah</a></p>
  </div>



</div>

