<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'facade1.jpg'%>)">
  <h1 class='font-weight-light'>Maison Esperluette</h1>
  <h3 class='text-center'>Gîtes de charme sur la côte normande</h3>
</div>

<div class="col-4">
	<% @rooms.first(1).each do |room| %>
		<!-- <img src="" alt=""> -->
		<p><%= room.name %></p>
		<%= link_to "Découvrir la chambre", room_path(room) %>
	<% end %>

		<% @rooms.first(1).each do |room| %>
		<!-- <img src="" alt=""> -->
		<p><%= room.name %></p>
		<%= link_to "Découvrir la chambre", room_path(room) %>
	<% end %>
</div>