<div class="home_container">

	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'facade1.jpg'%>)">
	  <h1 class='font-weight-light'>Maison Esperluette</h1>
	  <h3 class='text-center'>Gîtes de charme sur la côte normande</h3>
	</div>


	<div class="container-fluid">
	<div class="row align-items-center justify-content-center">
		<div class="details col-sm-12 col-lg-4 mb-5">
			<div class="block-text__centered text-justify">
				<%= link_to 'English version', root_path(locale: :en), class: "text-justify" %>
				<h3 class="home-title__dark mb-5 mt-5">Le charme discret de la côte normande</h3>
				<p class="mr-5 ml-5 mb-3 text-center">Située en lisière du centre-ville de Cany-Barville, dans un jardin cauchois bien clos de hauts murs, la demeure de maître de Nathalie vous accueille dans un environnement design et chaleureux.<br>
				Ses gîtes spacieux et confortables, sa vaste suite vous garantissent confort et tranquillité.<br>
				À deux heures de Paris, 10 minutes de la côte d’Albâtre, vous serez idéalement placés pour pratiquer : planche à voile, le kite-surf, la randonnée à pied, à cheval ou à vélo...<br>
				…ou simplement vous reposer.</p>
			</div>
			<div class="mb-5 mt-5">
				<%= render 'carousel' %>
			</div>
		</div>
	</div>


	<h3 class="home-title__dark mb-5 mt-5">Des gîtes à 10 minutes de la mer</h3>

		<div class="row align-items-center justify-content-center">
			<% @rooms.first(1).each do |room| %>
				<div class="col-sm-12 col-lg-8 ml-1 mb-5">
					<div class="card_room rounded">
						<%= link_to room_path(room), class: "" do %>
							<%= image_tag "grand-gite-chambre.jpg", class: "rounded" %>
							<div class="card-details d-flex flex-column align-items-center justify-content-center">
								<h4 class="mb-2"><%= room.name %></h4>
								<p class="mb-2">Parfait pour explorer la côte normande en famille</p>
							</div>
							<%= link_to "Découvrir le gîte", room_path(room), class: "btn btn-outline-primary sm mb-4 mt-4" %>
						<% end %>
					</div>
				<% end %>

				<% @rooms.drop(1).each do |room| %>
					<div class="card_room rounded">
						<%= link_to room_path(room), class: "" do %>
							<% if room.name == 'Le petit gîte' %>
								<%= image_tag "petit-gite-fenetre.jpg", class: "rounded" %>
							<% else %>
								<%= image_tag "chambre3.jpg", class: "rounded" %>
							<% end %>
							<div class="card-details d-flex flex-column align-items-center justify-content-center">
								<h4 class="mb-2"><%= room.name %></h4>
								<% if room.name == 'Le petit gîte' %>
									<p class="mb-3">Idéal pour un week-end le long des plages normandes</p>
								<% else %>
									<p class="mb-3">Une grande suite au calme</p>
								<% end %>
							</div>
							<%= link_to "Découvrir le gîte", room_path(room), class: "btn btn-outline-primary sm mb-4 mt-4" %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<h3 class="home-title__dark mb-5 mt-5">Des avis 100% positifs</h3>
		<div class="row align-items-center justify-content-center">
			<div class="col-sm-12 col-lg-8 ml-1 mb-5">
				<%= render 'carousel-reviews' %>
			</div>
		</div>
	</div>


<!-- 	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%#= asset_path 'phare1.jpg'%>)">
	  <h1><%#= link_to "Découvrir la côte d'Albâtre", maps_path, class: "text-center" %></h1>
	</div> -->


</div>
