<div class="home_container">

	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'facade1.jpg'%>)">
	  <h1 class='font-weight-light'>Maison Esperluette</h1>
	  <h3 class='text-center'>Bed&Breakfast in a traditional Norman manor</h3>
	</div>


	<div class="container-fluid">
	<div class="row align-items-center justify-content-center">
		<div class="details col-sm-12 col-lg-4 mb-5">
			<div class="block-text__centered text-justify">
				<%= link_to 'Version française', root_path(locale: :fr), class: "text-justify" %>
				<h3 class="home-title__dark mb-5 mt-5">Experience the charming ambience of Normandy</h3>
				<p class="mr-5 ml-5 mb-3 text-center">Ideally located on the Normandy seashore, close to the town center, Maison Esperluette is a lovely Bed&Breakfast in a stylish setting. Run by an experienced owner, Nathalie, the rooms provide all the amenities of a cosy appartment.
				Each room is individually styled with design decor and traditional comforts.<br>
				Only 10 minutes ride from the sea, the Bed&Breakfast provide easy access to all kind of seashore activities: hikes, kite-surf, horseback riding...<br>
			</div>
			<div class="mb-5 mt-5">
				<%= render 'carousel' %>
			</div>
		</div>
	</div>


	<h3 class="home-title__dark mb-5 mt-5">Beautifully furnished rooms</h3>

		<div class="row align-items-center justify-content-center">
			<% @rooms.first(1).each do |room| %>
				<div class="col-sm-12 col-lg-8 ml-1 mb-5">
					<div class="card_room rounded">
						<%= link_to room_path(room, locale: :en), class: "" do %>
							<%= image_tag "grand-gite-chambre.jpg", class: "rounded" %>
							<div class="card-details d-flex flex-column align-items-center justify-content-center">
								<h4 class="mb-2"><%= room.name %></h4>
								<p class="mb-2">Ideal for a family vacation</p>
							</div>
							<%= link_to "Discover the room", room_path(room, locale: :en), class: "btn btn-outline-primary sm mb-4 mt-4" %>
						<% end %>
					</div>
				<% end %>

				<% @rooms.drop(1).each do |room| %>
					<div class="card_room rounded">
						<%= link_to room_path(room), class: "" do %>
							<% if room.name == 'Le petit gîte' %>
								<%= image_tag "petit-gite-fenetre.jpg", class: "rounded" %>
							<% else %>
								<%= image_tag "chambre3.jpg", class: "rounded" %>
							<% end %>
							<div class="card-details d-flex flex-column align-items-center justify-content-center">
								<h4 class="mb-2"><%= room.name %></h4>
								<% if room.name == 'Le petit gîte' %>
									<p class="mb-3">The perfect spot for a seaside weekend</p>
								<% else %>
									<p class="mb-3">Enjoy our spacious suite</p>
								<% end %>
							</div>
							<%= link_to "Discover the room", room_path(room), class: "btn btn-outline-primary sm mb-4 mt-4" %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<h3 class="home-title__dark mb-5 mt-5">Happy customers!</h3>
		<div class="row align-items-center justify-content-center">
			<div class="col-sm-12 col-lg-8 ml-1 mb-5">
				<%= render 'carousel-reviews' %>
			</div>
		</div>
	</div>


<!-- 	<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%#= asset_path 'phare1.jpg'%>)">
	  <h1><%#= link_to "Découvrir la côte d'Albâtre", maps_path, class: "text-center" %></h1>
	</div> -->


</div>
