<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'facade1.jpg'%>)">
  <h1 class='font-weight-light'>Maison Esperluette</h1>
  <h3 class='text-center'>Gîtes de charme sur la côte normande</h3>
</div>

<div class="col-4">

	<% @rooms.first(1).each do |room| %>
		<div class="card_room">
			<%= link_to room_path(room), class: "" do %>
				<%= image_tag "salon.jpg" %>
				<div class="card-details d-flex flex-column align-items-center justify-content-center">
					<h4><%= room.name %></h4>
					<p>Parfait pour découvrir la côte normande en famille</p>
				</div>
				<%= link_to "Découvrir le gîte", room_path(room), class: "btn btn-outline-primary sm mb-1" %>
			<% end %>
		</div>
	<% end %>

	<% @rooms.last(1).each do |room| %>
		<div class="card_room">
			<%= link_to room_path(room), class: "" do %>
				<%= image_tag "petit-gite-chambre.jpg" %>
				<div class="card-details d-flex flex-column align-items-center justify-content-center">
					<h4><%= room.name %></h4>
					<p>Idéal pour un week-end le long des plages normandes</p>
				</div>
				<%= link_to "Découvrir le gîte", room_path(room), class: "btn btn-outline-primary sm mb-1" %>
			<% end %>
		</div>
	<% end %>

</div>